services/vozilo-service/src/main/resources/soap.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/voziloservice/xsd"
           targetNamespace="http://example.com/voziloservice/xsd" elementFormDefault="qualified">

    <xs:element name="postProbaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="salje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="postProbaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prima" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="postVoziloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vozilo" type="tns:Vozilo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="postVoziloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateVoziloRequset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idVozilo" type="xs:long"/>
                <xs:element name="predjenaKilometraza" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateVoziloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uspesno" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Vozilo">
        <xs:sequence>
            <xs:element name="markaAutomobila" type="xs:string"/>
            <xs:element name="modelAutomobila" type="xs:string"/>
            <xs:element name="tipGoriva" type="xs:string"/>
            <xs:element name="tipMenjaca" type="xs:string"/>
            <xs:element name="klasaVozila" type="xs:string"/>
            <xs:element name="cenovnikId" type="xs:string"/>
            <xs:element name="predjenaKilometraza" type="xs:double"/>
            <xs:element name="ogranicenaKilometraza" type="xs:string"/>
            <xs:element name="CDWProtection" type="xs:boolean"/>
            <xs:element name="brojSedistaDeca" type="xs:int"/>
            <xs:element name="iznajmljivacId" type="xs:long"/>
            <xs:element name="iznajmljivacMail" type="xs:string"/>
            <xs:element name="vaziOd" type="xs:date"/>
            <xs:element name="vaziDo" type="xs:date"/>
            <xs:element name="mesto" type="xs:string"/>
            <xs:element name="pomId" type="xs:long"/>

<!--            <xs:element name="zahtevi" type="tns:Zahtev" minOccurs="0" maxOccurs="unbounded"/>-->

        </xs:sequence>
    </xs:complexType>



    <xs:element name="getZahteveByIzdavacMailRequset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="izdavacMail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getZahteveByIzdavacMailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zahtevi" type="tns:Zahtev" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Zahtev">
        <xs:sequence>
            <xs:element name="vozila" type="tns:Vozilo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="stanje" type="tns:Stanje"/>
            <xs:element name="datumOd" type="xs:date"/>
            <xs:element name="datumDo" type="xs:date"/>
            <xs:element name="vremeOdobrenja" type="xs:date"/>
            <xs:element name="vremeKreiranja" type="xs:date"/>
            <xs:element name="podnosilac" type="xs:long"/>
            <xs:element name="izdavac" type="xs:long"/>
            <xs:element name="izdavacMail" type="xs:string"/>



        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Stanje">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="RESERVED"/>
            <xs:enumeration value="PAID"/>
            <xs:enumeration value="CANCELED"/>
            <xs:enumeration value="WAITING_REVIEW"/>
            <xs:enumeration value="REVIEWED"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="getMailUlogovanogAgentaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="get" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMailUlogovanogAgentaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vraceniMejl" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getKomentareByIdVozilaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idVozila" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getKomentareByIdVozilaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="komentari" type="tns:Komentar" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Komentar">
        <xs:sequence>
            <xs:element name="idVozila" type="xs:long"/>
            <xs:element name="komentar" type="xs:string"/>
            <xs:element name="stanje" type="tns:StanjeKomentara"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StanjeKomentara">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OBJAVLJEN"/>
            <xs:enumeration value="ODBIJEN"/>
            <xs:enumeration value="ODOBREN"/>
            <xs:enumeration value="ODGOVOREN"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="getMailPodnosiocaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idPodnosilac" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMailPodnosiocaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vraceniMejl" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

 <xs:element name="postChatRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chat" type="tns:Chat"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="postChatResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Chat">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="user1" type="xs:string"/>
            <xs:element name="user2" type="xs:string"/>
<!--            <xs:element name="zahtevi" type="tns:Zahtev" minOccurs="0" maxOccurs="unbounded"/>-->

        </xs:sequence>
    </xs:complexType>

    <xs:element name="postMessageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="tns:Message"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="postMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Message">
    <xs:sequence>
        <xs:element name="chatId" type="xs:long"/>
        <xs:element name="senderEmail" type="xs:string"/>
        <xs:element name="timestamp" type="xs:date"/>
        <xs:element name="content" type="xs:string"/>
        <!--            <xs:element name="zahtevi" type="tns:Zahtev" minOccurs="0" maxOccurs="unbounded"/>-->

    </xs:sequence>
</xs:complexType>


    <xs:element name="getChatByAgentMailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getChatByAgentMailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chatovi" type="tns:Chat"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMessageByChatIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chatId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMessageByChatIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="messages" type="tns:Message"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="postKomentarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="komentar" type="tns:Komentar"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="postKomentarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getOceneByIdVozilaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idVozila" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getOceneByIdVozilaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ocena" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
